html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../bilder/background_gamed.svg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.black_transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Schwarz mit 50% Transparenz */
    z-index: 1;
}

/* Stil für den Pfeil-Button */
.back-to-home {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.back-to-home:visited{
    text-decoration: none;
    color: white;
}

.back-to-home:hover {
    color: #80ba24;
}

.textfeld {
    position: absolute;
    bottom: 1%;
    width: 80%;
    height: 25%;
    max-height: 25%; /* maximal erlaubte Höhe */
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    border: 2px solid #000; /* Korrektur der Border-Deklaration */
    border-radius: 1em;
    overflow-y: auto; /* Scrollbalken bei Bedarf anzeigen */
    padding: 10px; /* Innenabstand für den Inhalt */
    box-sizing: border-box; /* Berücksichtigt Padding und Border in der Gesamtbreite */
}


.textfeld::-webkit-scrollbar {
    display: none; /* Für Webkit-basierte Browser (Chrome, Safari) */
}

.copilot {
    height: 60vh;
    width: 60vh;
}

.copilot_container {
    position: relative;
    left: 35%;
    top: 20%;
    z-index: 2;
}

#text {
    font-family: "Press Start 2P";
    margin: 1em;
    margin-right: 15em;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    line-height: 2em;
}

#dots {
    display: none;
    font-family: "Press Start 2P";
    color: white;
    margin: 2em;
    margin-right: 15em;
}

#dots:hover{
    cursor: pointer;
}

.question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    border: #000 solid;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
}

#question {
    font-family: "Press Start 2P";
    color: black;
    margin-bottom: 1em;
}

.answer {
    font-family: "Press Start 2P";
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    border-radius: 0.5em;
    text-align: center;
    cursor: pointer;
}

.answer:hover{
    scale: 1.05;
}

.transition-overlay {
    display: none;
    background-image: url(../bilder/rocket.svg);
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    transform: translate(80vh, 10vh);
    z-index: 9;


}

.transition-overlay-back {
    display: none;
    background-image: url(../bilder/rocket.svg);
    position: absolute;
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    top:50%;
    left: 0%;
    transform: translate(-30vh, 180vh);
    z-index: 9;
    rotate: 180deg;


}

.white-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 8;
    opacity: 0;

}

.white-overlay-start {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 8;
    opacity: 1;
  
  }

.clouds {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    opacity: 0;
} 

.cloud {
    height: 10000px;
    animation: kaboom 0.4s ease alternate infinite;
    transform-origin: center center;
    opacity: 0.9;
    &:nth-child(odd) {
        animation: kaboom 0.3s ease alternate infinite;
    }
    &:nth-child(1) {
        animation-delay: 0.1s;
    }
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.3s;
    }
    &:nth-child(4) {
        animation-delay: 0.4s;
    }
    &:nth-child(5) {
        animation-delay: 0.5s;
    }
    &:nth-child(6) {
        animation-delay: 0.6s;
    }
    &:nth-child(7) {
        animation-delay: 0.7s;
    }
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes kaboom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.star {
    display: none;
    position: absolute;
    width: 10px;
    height: 200px;
    background: rgb(255, 255, 255);
    opacity: 1;
}

@media (max-width: 480px) {
    .copilot {
        height: 40vh;
        width: 40vh;
    }
    .copilot_container {
        top: 30%;
        z-index: 1;
    }
    .textfeld {
        width: 100%;
    }
    #text {
        margin-right: 2em;
        font-size: small;
    }
    html, body {
        overflow: hidden;
    }
    .question_container {
        width: 90%;
    }
    .h1-bilder{
        font-size: 16px;
    }
    .bild1_container .bild1{
        width: 245px;
        height: 420px;
    }
    .bild1_container .bild2{
        width: 245px;
        height: 420px;
    }

    .transition-overlay {
        display: none;
        background-image: url(../bilder/rocket.svg);
        width: 85vh;
        height: 85vh;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-26%, 100%);
    
    }

    .transition-overlay-back {
        display: block;
        background-image: url(../bilder/rocket.svg);
        width: 85vh;
        height: 85vh;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(63vh, 160vh);
        rotate: 180deg;
    
    }

    .white-overlay {
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        z-index: 8;
        opacity: 0;
    
    }

    .clouds {
        display: none;
        position: absolute;
        top: 45%;
        width: 100vh;
        opacity: 0;

    } 
    
    .cloud {
        display: block;
        animation: kaboom 0.4s ease alternate infinite;
        transform-origin: center center;
        opacity: 0.9;
        &:nth-child(odd) {
            animation: kaboom 0.3s ease alternate infinite;
        }
        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        &:nth-child(4) {
            animation-delay: 0.4s;
        }
        &:nth-child(5) {
            animation-delay: 0.5s;
        }
        &:nth-child(6) {
            animation-delay: 0.6s;
        }
        &:nth-child(7) {
            animation-delay: 0.7s;
        }
    }
    .white-overlay-start {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        z-index: 8;
        opacity: 1;
      
      }
}

#image-container {
    position: absolute;
    top: 35%; /* Zentriert vertikal */
    left: 50%; /* Zentriert horizontal */
    transform: translate(-50%, -50%); /* Zentriert den Container relativ zu sich selbst */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-container img {
    display: none; /* Alle Bilder standardmäßig ausblenden */
    border-radius: 5px;
}

.title-bilder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8em; /* Zum Beispiel 10px vom oberen Rand */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Höherer Z-Index, um über den Bildern zu liegen */
    text-align: center; /* Optional, falls der Text innerhalb zentriert werden soll */
    width: 100%; /* Vollständige Breite des übergeordneten Containers */

}

.h1-bilder {
    font-family: "Press Start 2P";
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    line-height: 2em;
    display: block;
    text-align: center;
}

.bild-container img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 55vh;
}

.bild1_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bild1_container .bild1{
    width: 350px;
    height: auto;
}

.bild1_container .bild2{
    width: 350px;
    height: auto;
}

.bild1_container .bild3{
    width: 350px;
    height: auto;
}

.bild1_container .bild4{
    width: 350px;
    height: auto;
}

.bild1_container .bild5{
    width: 350px;
    height: auto;
}
