html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../assets/Bilder/planet_background.svg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.black_transparent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Schwarz mit 50% Transparenz */
    z-index: 1;
}

.textfeld {
    position: absolute;
    bottom: 1%;
    width: 80%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.5); /* Schwarz mit 50% Transparenz */
    z-index: 1;
    border: #000 solid;
    border-radius: 1em;
}

.copilot {
    height: 60vh;
    width: 60vh;
}

.copilot_container {
    position: relative;
    left: 35%;
    top: 20%;
    z-index: 2;
}

.centered_image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 50%);
    z-index: 2;
}

.centered_image {
    max-width: 100%;
    height: auto;
}

#blur_slider {
    margin-top: 20px;
    width: 80%;
}

#text {
    font-family: "Press Start 2P";
    margin: 2em;
    margin-right: 15em;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    line-height: 2em;
}

#dots {
    display: none;
    font-family: "Press Start 2P";
    color: white;
    margin: 2em;
    margin-right: 15em;
}

#submit_button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #80BA24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submit_button:hover {
    background-color: #80BA24;
}

#submit_button:hover{
    scale: 1.05;
}

@media (max-width: 480px) {
    .copilot {
        height: 40vh;
        width: 40vh;
    }
    .copilot_container {
        top: 30%;
        z-index: 1;
    }
    .textfeld {
        width: 100%;
    }
    #text {
        margin-right: 2em;
        font-size: small;
    }
    html, body {
        overflow: hidden;
    }
    .centered_image_container {
        height: auto;
        width: auto;
    }
    #submit_button{
        font-size: 12px;
    }
    .centered_image{
        width: 100%;
        height: 10em;
    }
}
