/* Ändert die Farbe der Textauswahl */
::selection {
    background: none;
    color: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P";
    background-image: url("../bilder/background.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;
    background-repeat: no-repeat;
    text-shadow: -0.1vw -0.1vw 0vw #000, 0.1vw -0.1vw 0vw #000, -0.1vw 0.1vw 0vw #000, 0.1vw 0.1vw 0vw #000;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Stil für den Pfeil-Button */
.back-to-home {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
    z-index: 8;
}

.back-to-home:visited{
    text-decoration: none;
    color: white;
}

.back-to-home:hover {
    color: #80ba24;
}
#logo{
    margin: 2%;
    margin-bottom: 1vw;
    width: 10vw;
    height: auto;
}
header img {
    width: 134px;
    height: auto;
    margin: 27px 27px 13px;
}
#title2{
    margin: 0;
    margin-bottom: 1vw;
    color: white;
    font-size: 1vw;
    font-family: 'Press Start 2P';
    text-align: center;
    text-shadow: -0.1vw -0.1vw 0vw #000, 0.1vw -0.1vw 0vw #000, -0.1vw 0.1vw 0vw #000, 0.1vw 0.1vw 0vw #000;
}
header h2 #title2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
#title{
    margin: 0 0 1vw 0;
    color: white;
    font-size: 2.5vw;
    font-family: 'Press Start 2P';
    text-align: center;
    text-shadow: -0.1vw -0.1vw 0vw #000, 0.1vw -0.1vw 0vw #000, -0.1vw 0.1vw 0vw #000, 0.1vw 0.1vw 0vw #000;
}
header h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#title3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #80ba24;
    font-size: 2em;
    text-shadow: -0.1vw -0.1vw 0vw #000, 0.1vw -0.1vw 0vw #000, -0.1vw 0.1vw 0vw #000, 0.1vw 0.1vw 0vw #000;
}
.creators{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    line-height: 2em;
    flex-direction: column;
    margin: 0 35% 0.5em 35%;
}
.creators p{
    margin: 0 0 0 0;
    font-size: 11px;
}
#astronauts{
 margin-bottom: 0;
}
.creators-title{
    margin-bottom: 0;
}
.white-overlay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 8;
    opacity: 0;
  
  }
  
  .white-overlay-start {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 8;
    opacity: 1;
  
  }
@media (max-width: 480px) {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: "Press Start 2P";
        background-image: url("../bilder/background.jpg");
        background-size:auto;
        background-position: top;
        background-color: black;
        background-repeat:no-repeat;
        overflow: visible;
        text-shadow: -0.1vw -0.1vw 0vw #000, 0.1vw -0.1vw 0vw #000, -0.1vw 0.1vw 0vw #000, 0.1vw 0.1vw 0vw #000;
    }
    header #logo {
        margin-top: 1em;
    }
    #logo {
        width: 40vw;
    }
    #title2 {
        font-size: 1em;
        margin: 0;
        margin-top: 0.5em;
        text-shadow: -0.5vw -0.5vw 0vw #000, 0.5vw -0.5vw 0vw #000, -0.5vw 0.5vw 0vw #000, 0.5vw 0.5vw 0vw #000;
    }
    #title {
        font-size: 2em;
        margin: 0;
        text-shadow: -0.5vw -0.5vw 0vw #000, 0.5vw -0.5vw 0vw #000, -0.5vw 0.5vw 0vw #000, 0.5vw 0.5vw 0vw #000;
    }
    header #title {
        margin-top: 0.5em;
    }
    .creators{
        text-shadow: -0.5vw -0.5vw 0vw #000, 0.5vw -0.5vw 0vw #000, -0.5vw 0.5vw 0vw #000, 0.5vw 0.5vw 0vw #000;
        margin: 0 1em 0.5em 1em;
    }
}
