html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    background-image: url("..\bilder\planet_background.svg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .black_transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Schwarz mit 50% Transparenz */
    z-index: 1;
  }

  .textfeld {
    position: absolute;
    bottom: 1%;
    width: 80%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.5); /* Schwarz mit 50% Transparenz */
    z-index: 1;
    border: #000 solid;
    border-radius: 1em;
  }

  .copilot {
    height: 60vh;
    width: 60vh;
  }

  .copilot_container {
    position: relative;
    left: 35%;
    top: 20%;
    z-index: 2;
  }

  #text {
    font-family: "Press Start 2P";
    margin: 2em;
    margin-right: 15em;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    line-height: 2em;
  }
  #dots {
    display: none;
    font-family: "Press Start 2P";
    color: white;
    margin: 2em;
    margin-right: 15em;
}

.modes {
  width: 30em;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15em;
  height: 100%;
}
.modes_container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  bottom: 10%;
}

.mode_title {
  font-family: "Press Start 2P";
  color: white;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px  1px 0 #000,
  1px  1px 0 #000;
  margin: 0;
  margin-bottom: 3em;
  text-align: center;
  line-height: 1.5em;
}

.arrows_container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  z-index: 3;
  margin: 0;
  width: 50%;
}
.arrow {
  width: 5em;
  cursor: pointer;
}
.arrow:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}
#arrowLeft {
  transform: rotate(180deg) scaleY(-1);;
}
.highlight {
  transform: scale(1.2);
  transition: transform 0.3s;
}

  @media (max-width: 480px) {
    .copilot {
        height: 40vh;
        width: 40vh;
      }
      .copilot_container {
        top: 30%;
        z-index: 1;
      }
      .textfeld {
        width: 100%;
      }
      #text {
        margin-right: 2em;
        font-size: small;
      }
      html, body {
        overflow: hidden;
    }
    .modes {
      width: 20em;
    }
    .arrow {
      width: 3em;
    }
    .arrows_container {
      width: 100%;
    }
  }